.main {
  --bg-gradient: linear-gradient(to bottom right, rgba(245, 245, 245, 1), rgba(255, 255, 255, 1));
}

.dark {
  --bg-gradient: linear-gradient(to bottom right, rgba(15, 15, 15, 1), rgba(35, 35, 35, 1));
}

/* landing background */
.bg_transition {
  background: var(--bg-gradient);
  transition: background 1.5s ease-in-out;
}


/* background lines */
.lines {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100vw;
  z-index: 0;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #F5F2FE;
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, #FFFBEE 0%, #FFE399 75%, #FFCE4D 100%);
  -webkit-animation: drop 7s 0s infinite;
  animation: lineDrop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.dark .line {
  background: rgba(45, 45, 45, 1);
}

.dark .line::after {
  background: linear-gradient(to bottom, #3B3B3B 0%, #686868 50%, #FFE399 100%);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@-webkit-keyframes lineDrop {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

@keyframes lineDrop {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

/* landing screen */
.gradient_text {
  font-weight: 800;
  background-image: linear-gradient(to right, #A183D4, #383366);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: gradientChange 5s ease-in-out infinite alternate;
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* footer */
.footer_background {
  background-image: url('/images/footer_bg.png');
  background-size: cover;
}

.social_icons {
  font-size: 1.5rem;
  transition: 0.3s ease;
}